

{% extends 'layout.html.twig' %}

{% block content %}



    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">

            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="{{ title.icon }} font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo bold uppercase">{{ title.label }}</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="icon-cloud-upload"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="icon-wrench"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="icon-trash"></i>
                        </a>
                    </div>
                </div>

                <div class="portlet-body form">

                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success">
                            <strong><i class="fa fa-check"></i></strong> {{ flash_message }}
                        </div>
                    {% endfor %}


                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    {{ form_end(edit_form) }}




                </div>
            </div>



        </div>
        <!-- END CONTENT BODY -->
    </div>
{% endblock %}




